node_modules
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.zip
*.tar.gz
*.tgz
*.rar

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.secret.tfvars
*.tfplan
*.tfignore
*.tf.json
*.tfvars.json
*.tfstate.d
*.terraform-version